.user-card__wrapper {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  background-color: #ffffff;
}

.user-card_top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.user-card__name {
  margin-top: 15px;
  font-size: 30px;
}

.content_row {
  margin-top: 15px;
}