.live_container {
  width: 46.5%;
}

.live-comment {
  padding-top: 15px;
  padding-bottom: 13px;
  margin-left: 20px;
}

.live__comment__header {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 5px;
}

.live_user__avatar-link {
  display: flex;
  align-items: center;
}

.live_user__avatar-img {
  width: 22px;
  height: 22px;
  border-radius: 2px;
}

.live__fullName {
  font-size: 16px;
  font-weight: 600;
  margin-left: 8px;
}

.live__comment-link {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 5px;
  overflow: hidden;
  max-height: 60px;
}

.live__comment-text {
    display: block;
    margin-bottom: 7px;
    width: 100%;
    max-height: 60px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    line-height: 20px;
}