.auth-inputbox_form-wrapepr {
 width: 100%;
 text-align: center;
 background-color: #ffffff;
 padding: 20px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
}

.auth-inputbox_img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.auth-inputbox_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_group {
  position: relative;
}

.auth-inputbox_field {
	width: 300px;
	font-size: 13px;
  padding: 6px 0 4px 10px;
  border: none;
  border-bottom: 1px solid #cecece;
  
	background: #F6F6f6;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.auth-inputbox_field:focus {
  outline: none;
  border-bottom: 1px solid blue;
}

.auth-inputbox_label {
  position: absolute;
  left: 0;
  margin-top: -5px;
  margin-left: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}

.auth-inputbox_field:placeholder-shown + .auth-inputbox_label {
  opacity: 0;
  transform: translateY(1rem);
}

.bth_block {
  display: flex;
  margin: 0 auto ;
  width: 300px;
  justify-content: space-around;
  
}

.auth-inputbox_submit-btn {
  margin-left: 20px;
  margin-right: 30px;
}