.content-box {
  display: flex;
  justify-content: space-between;
}

.center-column {
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}